@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body{
    font-family: "noto-sans";
    font-size: 16px;
    line-height: 26px;
    color: #444;
    min-width:1400px;
}

/*header*/

header .top{
    background-color: #cf7784;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

header .top p{
    padding: 5px 0;
}

header img{
    display:block;
}
.header_inner{
    width: 1280px;
    margin: 0 auto;
}

.navbar{
    float: right;
    height: 35px;
    padding-bottom: 10px;
}
.navbar li a:hover, .r_nav li a:hover{
    color: #cf7784;
}
.navbar li{
    float: left;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}
.clear{
    clear: both;
}
.logo{
    padding-bottom: 22.5px;
}
#nav li{
    float: left;

}

#nav li a{
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    margin: 0 10px;
    text-align: center;
    display: block;
    position: relative;
}
#nav li a:hover{
    color: #cf7784;
    transition: all 0.3s;

}

#nav li a span{
    position: absolute;
    bottom: -10px;
    left: 0;
    height:3px;
    width:100%;
    display: inline-block;
    background: #cf7784;
    transform: scaleX(0);
}

#nav li a:hover span{
    transform: scaleX(1);
    transition: all 0.3s;
}
.r_nav{
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.r_nav li{
    text-align: center;
    padding-left: 10px;
}


#header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
/*mainbanner*/
#mainbanner{
    position: relative;
    text-align: center;
}
#mainbanner>img{
    width: 100%;
    display: block;
}
#mainbanner>p{
    position: absolute;
    top:50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -435.155px;
    font-size: 50px;
    font-weight: bold;
    color: white;

}

/*subscription*/
#subscription{
    background: #f6dddd;
    width: 1000px;
    border-radius: 50px;
    height: 150px;
    position: absolute;
    bottom: -75px;
    left: 50%;
    margin-left: -500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-weight: bold;
}
#subscription img{
    display: block;
}
.icon img{
    display: block;
}
.bold{
    font-weight: bold;
}
.sub_text{
   padding-left: 30px;
   color: #cf7784;
   text-align: left;
}
.sub_4{
    padding-left: 23.095px;
}
#subscription .regular{
    font-weight: normal;
}

/*section1*/

#section1{
    text-align: center;
    margin: 0 auto; 
}
.title_fs{
display: inline-block;
padding-top: 130px;
padding-bottom: 30px;
text-align: center;
}
h3{
    padding: 10px 0;
    padding-bottom: 50px;
    font-size: 25px;
}

.sub_bg{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0a5ae+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(224,165,174,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(224,165,174,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(224,165,174,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a5ae', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

width: 100%;
height: 1200px;
}
.section1_warp{
    width: 1280px;
    margin: 0 auto; 
}

.fs li{
    float: left;
    padding-bottom: 30px;
}
.fs li:nth-child(2){
    padding: 0 40px;
}
.sub_bg .twenty{
    font-size: 20px;
}
.title_padding{
    padding-top: 30px;
}
.btn1{
    display: inline-block;
    background: #cf7784;
    border-radius: 20px;
    padding: 10px 30px;
    color: #fff;
    margin-top: 40px;
}

.btn1:hover{
    color: #444;
    background: #f6dddd;
    transition: all 1s;
}

.section1_warp ul li img{
    width: 100%;
    transition: all 1s;
}
.section1_warp ul li:hover img{
    transform: scale(1.08, 1.08);
}
.normal{
    display: block;
    height: 510px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 200px 200px 0 0;
    overflow: hidden;
}

.reverse{
    display: block;
    height: 510px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 0 0 200px 200px;
    overflow: hidden;
}



/*section2 best seller*/

#section2{
    width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 150px;
}

.btn2{
    display: inline-block;
    background: #cf7784;
    border-radius: 20px;
    padding: 2px 10px;
    color: white;
    font-size: 13px;
}
.btn2:hover{
    color: #444;
    background: #f6dddd;
    transition: all 1s;

}

.padding_bottom{
    padding-bottom: 30px;
}
.name1{
    font-size: 14px;
}
.twenty{
    font-size: 20px;
}

#section2 ul{
    display: flex;
    justify-content: space-between;
}

.best_title{
    padding-left: 50px;
    padding-right: 100px;
}

.price{
    display: flex;
    justify-content: space-between;
}
.heart li{
    float: left;
    width: 50%;
}
.heart img{
    display: block;
}
.heart_left li{
    float: left;
}
.p_r{
    padding-right: 5px;
}

.attachment{
    width:100%;
    height: 500px;
    background:url(images/main/banner.jpg) center top fixed;
    margin-bottom: 100px;

}
h2{
    text-align: center;
    color:#fff;
    font-size:40px;
    line-height: 50px;
    padding-top: 200px;
}

/*section3*/
#section3{
    text-align: center;
    background: url(images/main/fc_bg.png) no-repeat left 90%;
    height: 900px;

}
.section3_warp{
    width: 1280px;
    margin: 0 auto;
}
.flower_class{
    text-align: left;
    display: flex;
    justify-content: space-between;

}
.color{
    color: #cf7784;
}

.class_title{
    color: #cf7784;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
}
.class_hover{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.class_hover:hover{
    text-decoration: underline;
}

.pt10{
    padding-top: 10px;
}

/*sub banner*/
#sub_banner{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
    display: flex;
    justify-content: space-evenly;
}

/*goods*/

#goods{
    margin: 0 auto;
    display: flex;
    width: 1355px;
    height: 535px;
    margin-bottom: 200px;
}
#goods_mid1 a{
    width: 100%;
    display: block;
}

#goods img{
    display: block;
    width: 100%;
    overflow: hidden;
    transition: all 1s;

}

.goods_mid1 img:hover{
    transform: scale(1.1, 1.1);
}

.goods_mid1 a{
    overflow: hidden;
}
.goods_text{
    box-sizing: border-box;
    width: 372px;
    height: 535px;
    background: url(images/main/goods6.jpg) no-repeat;
    padding-top: 200px;
    padding-left: 40px;
    color: #cf7784;
}

.goods_mid1{
    width: 610px;
    height: 534px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;

}

.goods_mid2{
    display: flex;
    flex-wrap: wrap;
}
.btn3{
    display: inline-block;
    background: #cf7784;
    border-radius: 20px;
    padding: 0px 10px;
    color: white;
    font-size: 13px;
    margin-top: 30px;
}

/*footer*/

footer{
    height: 460px;
    background: #cf7784;
    color: white;
}
.footer_inner{
    width: 1280px;
    margin: 0 auto;
}

.footer1{
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px #fff;
}
.font36{
    font-size: 36px;
    padding: 10px 0;
}

.btn4{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0px 50px;
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
.btn4:hover{
    color: #444;
    background: #f6dddd;
    transition: all 1s;
}
.insta li{
    float: left;
    padding-left:5px;

}
.insta img{
    display: block;
}
.footer_sns{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer2{
    padding-top: 20px;
}
.nav_float li{
    float: left;
    padding-left: 10px;
}
.footer_nav{
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding-top: 70px;
}